/*
Theme Name: zoner
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See http://codex.wordpress.org/Right_to_Left_Language_Support
*/

/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 4.0 - Header
 * 5.0 - Navigation
 * 6.0 - Content
 *   6.3 - Entry Meta
 *   6.4 - Entry Content
 *   6.5 - Galleries
 *   6.7 - Post/Image/Paging Navigation
 *   6.10 - Contributor Page
 *   6.14 - Comments
 * 7.0 - Sidebar
 *   7.1 - Widgets
 *   7.2 - Content Sidebar Widgets
 * 9.0 - Featured Content
 * 10.0 - Media Queries
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 * -----------------------------------------------------------------------------
 */

body {
	direction: rtl;
	unicode-bidi: embed;
}

caption,
th,
td {
	text-align: right;
}

dl dt {
	float:right;
}

dl dd {
	text-align:left;
}

#sidebar ul {
	padding-left:0;
	padding-right: 0;
}

.checkbox .icheckbox {
	margin-right: 0;
	margin-left: 10px;
}

#sidebar .radio label, #sidebar .checkbox label {
    padding-left: 0;
    padding-right: 0;
}

.horizontal-search .search-box-wrapper .search-box .advanced-search-toggle .fa, 
#form-sidebar.form-search .search-box .advanced-search-toggle .fa {
	margin-left: 0;
	margin-right: 5px;
}

1
.mail-form-sending .form-group label em,
#comments #form-blog-reply label em {
	float:right;
}

label {
	text-align:right;
	width:100%;
}

/**
 * 2.0 Repeatable Patterns
 * -----------------------------------------------------------------------------
 */

.wp-caption-text {
	padding-left: 10px;
	padding-right: 0;
}

.screen-reader-text:focus {
	right: 5px;
	left: auto;
}


/**
 * 4.0 Header
 * -----------------------------------------------------------------------------
 */

.site-title {
	float: right;
}

.search-toggle {
	float: left;
	margin-left: 38px;
	margin-right: auto;
}

.search-box .search-field {
	float: left;
	padding: 1px 6px 2px 2px;
}

.search-toggle .screen-reader-text {
	right: 5px; /* Avoid a horizontal scrollbar when the site has a long menu */
	left: auto;
}

.navigation .navbar .navbar-nav > li .child-navigation {
	margin-right:0;
}

.navigation .navbar .navbar-toggle {
	right: auto;
	left: 0;
}

.navigation .secondary-navigation a {
	display:inline-block;
}
.bootstrap-select.btn-group .btn .filter-option{
	text-align: right;
	padding-right: 20px;
}


/**
 * 5.0 Navigation
 * -----------------------------------------------------------------------------
 */

.site-navigation ul ul {
	margin-right: 20px;
	margin-left: auto;
}

.menu-toggle {
	right: auto;
	left: 0;
}

.navigation .navbar .navbar-nav > li .child-navigation li a {
	padding: 10px 20px 5px 10px;
}


/**
 * 6.0 Content
 * -----------------------------------------------------------------------------
 */

/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */

.entry-meta .tag-links a {
	margin: 0 10px 4px 4px;
}

.entry-meta .tag-links a:before {
	border-right: 0;
	border-left: 8px solid #767676;
	right: -7px;
	left: auto;
}

.entry-meta .tag-links a:hover:before,
.entry-meta .tag-links a:focus:before {
	border-left-color: #41a62a;
}

.entry-meta .tag-links a:after {
	right: -2px;
	left: auto;
}


/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */

.page-links a,
.page-links > span {
	margin: 0 0 2px 1px;
}

.page-links > .page-links-title {
	padding-right: 0;
	padding-left: 7px;
}


/**
 * 6.5 Galleries
 * -----------------------------------------------------------------------------
 */

.gallery-item {
	float: right;
	margin: 0 0 4px 4px;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: auto;
	margin-left: 0;
}

.gallery-caption {
	padding: 6px 8px;
	right: 0;
	left: auto;
	text-align: right;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}


/**
 * 6.7 Post/Image/Paging Navigation
 * -----------------------------------------------------------------------------
 */

.paging-navigation .page-numbers {
	margin-right: auto;
	margin-left: 1px;
}


/**
 * 6.10 Contributor Page
 * -----------------------------------------------------------------------------
 */

.contributor-avatar {
	float: right;
	margin: 0 0 20px 30px;
}


/**
 * 6.14 Comments
 * -----------------------------------------------------------------------------
 */

.comment-author .avatar {
	right: 0;
	left: auto;
}

.bypostauthor > article .fn:before {
	margin: 0 -2px 0 2px;
}

.comment-edit-link {
	margin-right: 10px;
	margin-left: auto;
}

.comment-reply-link:before,
.comment-reply-login:before {
	margin-left: auto;
	margin-right: 2px;
}

.comment-reply-link:before,
.comment-reply-login:before,
.comment-edit-link:before {
	-webkit-transform: scaleX(-1);
	-moz-transform:    scaleX(-1);
	-ms-transform:     scaleX(-1);
	-o-transform:      scaleX(-1);
	transform:         scaleX(-1);
}

.comment-content ul,
.comment-content ol {
	margin: 0 22px 24px 0;
}

.comment-list .children {
	margin-right: 15px;
	margin-left: auto;
}

.comment-reply-title small a {
	float: left;
}

.comment-navigation .nav-previous a {
	margin-right: auto;
	margin-left: 10px;
}


/**
 * 7.0 Sidebars
 * -----------------------------------------------------------------------------
 */

/**
 * 7.1 Widgets
 * -----------------------------------------------------------------------------
 */

.widget li > ol,
.widget li > ul {
	margin-right: 10px;
	margin-left: auto;
}

.widget_calendar caption {
	text-align: right;
}

.widget_calendar #prev {
	padding-right: 5px;
	padding-left: 0;
}

.widget_calendar #next {
	padding-right: 0;
	padding-left: 5px;
	text-align: left;
}

.widget_zoner_ephemera .entry-content ul,
.widget_zoner_ephemera .entry-content ol {
	margin: 0 20px 18px 0;
}

.widget_zoner_ephemera .entry-content li > ul,
.widget_zoner_ephemera .entry-content li > ol {
	margin: 0 20px 0 0;
}


/**
 * 7.2 Content Sidebar Widgets
 * -----------------------------------------------------------------------------
 */

.content-sidebar .widget li > ol,
.content-sidebar .widget li > ul {
	margin-right: 18px;
	margin-left: auto;
}

.content-sidebar .widget_zoner_ephemera .widget-title:before {
	margin: -1px 0 0 18px;
}


/**
 * 9.0 Featured Content
 * -----------------------------------------------------------------------------
 */

.featured-content .post-thumbnail img {
	right: 0;
	left: auto;
}

.slider-viewport {
	direction: ltr;
}

.slider .featured-content .entry-header {
	right: 0;
	left: auto;
	text-align: right;
}

.slider-control-paging {
	float: right;
}

.slider-control-paging li {
	float: right;
	margin: 2px 0 2px 4px;
}

.slider-control-paging li:last-child {
	margin-right: auto;
	margin-left: 0;
}

.slider-control-paging a:before {
	right: 10px;
	left: auto;
}

.slider-direction-nav li {
	border-width: 2px 0 0 1px;
	float: right;
}

.slider-direction-nav li:last-child {
	border-width: 2px 1px 0 0;
}

.slider-direction-nav a:before {
	content: "\f429";
}

.slider-direction-nav .slider-next:before {
	content: "\f430";
}


/**
 * 9.1 Testimonials shortcode
 * -----------------------------------------------------------------------------
 */

blockquote figure .image:before {
	right: 0;
	left: initial;
}

blockquote figure .image:after {
	right: initial;
	left:0;
	border-width: 20px 20px 0 0;
	border-color: rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) ;
}

blockquote .cite {
	 padding-left: 0;
	 padding-right: 30px;
}

/**
 * 9.2 Featured Box
 * -----------------------------------------------------------------------------
 */
 
.feature-box {
	padding:0 80px 15px 20px;
}

.feature-box .icon {
   right: -2px;
   left:initial;
}

.feature-box .icon::after {
	border-color:transparent transparent transparent #1396e2;
	border-width: 0 0 8px 8px;
	right: initial;
	left: 0;
}

/**
 * 9.3 Featured Box
 * -----------------------------------------------------------------------------
 */
.section-title .link-arrow {
	right:initial;
	left: 0;
}

/**
 * 9.4 Agents & Agencies
 * -----------------------------------------------------------------------------
 */
.blog-post dl dt, 
.blog-post dl dd, 
.page.type-page dl dt, 
.page.type-page dl dd {
	text-align:right;
}

.agents-listing .agent .wrapper dl dt, 
.agents-listing .agent .wrapper dl dd, 
.masonry .inner aside dl dt, 
.masonry .inner aside dl dd {
	text-align:left;
}

.agency address {
	margin-left: 0;
	margin-right: 40px;
}

.member {
	padding-left: 0;
	padding-right: 130px;
}

.member .image {
	left:initial;
	right: 0;
}

#page .member .tag {
	right: initial;
	left:0;
}

#agent-detail .agency-logo:hover:after {
	right:0;
}

/**
 * 9.5 jSlider
 * -----------------------------------------------------------------------------
 */

.jslider .jslider-pointer:before {
	right:0;
}

/**
 * 9.5 Property
 * -----------------------------------------------------------------------------
 */

.property_features-list li:after {
	text-shadow: none;
	-webkit-font-smoothing: antialiased;
	font-family: 'fontawesome';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	content: "\f111";
	color: #1396e2;
	font-size: 8px;
	position: relative;
	bottom: 2px;
	margin-left: 10px;
}
.property_features-list li:before {
	display:none;
}
.property-carousel .owl-controls .owl-next:after {
	content: "\f104";
}
.property-carousel .owl-controls .owl-prev:after {
    content: "\f105";
}


.property .type {
	right: initial;
	left:13px;
}

#search-filter .sorting {
	left: 0;
	right:initial;
}

.property-title .actions {
	right: initial;
	left:0;
}

.btn, select {
  padding: 10px 6px 9px;
}

 
/**
 * 9.6 Pricing
 * -----------------------------------------------------------------------------
 */

.price-box ul {
	padding-right:0;
}

/**
 * 9.7 Faq's
 * -----------------------------------------------------------------------------
 */

.faq  {
	padding-left: 0;
	padding-right: 50px;
}
 
.faq .icon {
	left: initial;
    right: 0;
}

.faq .icon:after {
	right:initial;
	left:0;
	border-width: 0px 10px 10px 10px;
	border-color: transparent transparent transparent #1396e2; 
} 

.faq aside a {
	 margin-left: 0;
	 margin-right: 10px;
}


/**
 * 9.8 Timeline
 * -----------------------------------------------------------------------------
 */

.timeline-item .circle .date {
	right: 40px;
	left:initial;
}

.timeline-item:hover .circle .date {
	right: 30px;
	left:initial;
}

.timeline-item .circle .date:after {
	right: -8px;
	left:initial;
	border-color: transparent transparent transparent #1396e2;
}

.timeline-item .wrapper {
	padding:20px 80px 20px 20px;
}

.timeline-item:after {
	right: 21px;
	left:initial;
}


.radio label, .checkbox label {
	padding-right: initial;
    padding-left: 20px;
}

/**
 * 9.8 Create Account
 * -----------------------------------------------------------------------------
 */
 
#form-create-account .radio {
	margin-right: 0;
	margin-left: 50px;
}

.iradio {
	margin-right: 0;
	margin-left: 10px;
}

/**
 * 9.9 Blog
 * -----------------------------------------------------------------------------
 */
 
.blog-post.sticky header .sticky-wrapper {
	padding: 0 0 0 5px;
} 

.blog-post ul {
	padding-left: 0;
	padding-right:25px;
}

.blog-post.chat dt .chat-author {
	padding: 0 10px 0 0;
}

.blog-post.chat dd {
	padding:10px 35px 10px 5px;
	float:right;
	text-align:right;
}

.post-author .wrapper {
	padding-left: 0;
	padding-right: 20px;
}

.comment-list {
	padding-right:0;
}

.comment-list .comment figure {
	left: initial;
	right: 0;
}

.comment-list .comment .date .fa {
	margin-right: 0;
	margin-left:10px;
}

.comment-list .comment {
	padding-left: 0;
	padding-right: 80px;
}

.comment-list .comment .date {
	left:0;
	right:initial;
}

.comment-list .comment .reply .fa {
	margin-right: 0;
	margin-left:10px;
}
 
/**
 * 9.9 Profile, Add Property Edit Property
 * -----------------------------------------------------------------------------
 */ 
 
#sidebar .sidebar-navigation li i {
	margin-left: 8px;
    margin-right: 0;
} 

#sidebar .sidebar-navigation li {
	padding-left: 0;
	padding-right: 10px;
}

#sidebar .sidebar-navigation li:hover {
	padding-left: 0;
	padding-right: 15px;
}

#sidebar .sidebar-navigation li.active {
   padding-right: 10px;
   padding-left:0;
}

.navigation .add-your-property {
	right:0;
	left:initial;
}

.navigation .add-your-compare {
	right:40px;
	left:initial;
}

.account-profile .contact-fields dd {
   float: left;
}

.grid-data-table table tbody tr td {
	padding: 20px 0 20px 20px;
}

.grid-data-table table tbody tr td.actions .edit {
	float:right;
}

.grid-data-table table tbody tr td.actions .edit i {
	margin-right: 0;
	margin-left: 5px;
}

#page .property .tag.status,
.multichoice .property .tag.status{
	left: initial;
	right:13px;
}

.display-lines .property {
	padding-left: 0;
	padding-right: 280px;
}

.display-lines.profile .property .info aside .price-info {
	float:left;
}

.display-lines .property .property-image {
	left: initial;
	right:0;
}

.display-lines .property .type {
	right:initial;
	left:0;
}


.display-lines.profile .property .info aside dl {
	float:right;
}

.display-lines .property .info aside dl dd {
	text-align:left;
}


.search-box-wrapper, 
.featured-content {
	padding-left: 0;
    padding-right: 0;
}

.search-box {
	padding-right: 0;
	padding-left:15px;
	right: 0;
}

.geo-location-wrapper .btn {
	left:0;
	right: initial;
}

.geo-location-wrapper .text { right: -75px; top: 40px;}
.geo-location-wrapper .text:after { content: none;}
.geo-location-wrapper:hover .text { right: -80px; }

.infobox-wrapper .infobox-inner .infobox-image .infobox-price {
	left: initial;
	right:8px;
}

.horizontal-search-float .search-box .form-map input[type="text"], .horizontal-search-float .search-box .form-map input[type="email"], .horizontal-search-float .search-box .form-map input[type="search"], .horizontal-search-float .search-box .form-map input[type="password"], .horizontal-search-float .search-box .form-map input[type="number"], .horizontal-search-float .search-box .form-map textarea, .horizontal-search-float .search-box .form-map select, .horizontal-search-float .search-box .form-map .selectpicker, .horizontal-search-float .search-box .form-map .price-range {

}

 
/**
 * 10.0 Media Queries
 * -----------------------------------------------------------------------------
 */
 
.wpb_revslider_element {
	margin:0 !important;
}

.vc_col-sm-1, 
.vc_col-sm-2, 
.vc_col-sm-3, 
.vc_col-sm-4, 
.vc_col-sm-5, 
.vc_col-sm-6, 
.vc_col-sm-7, 
.vc_col-sm-8, 
.vc_col-sm-9, 
.vc_col-sm-10, 
.vc_col-sm-11, 
.vc_col-sm-12 {
	float:right !important;
} 

.show-on-map {
	right:initial;
	left:0;
}

#form-contact-agency .form-group label em {
	float:right;
}

.breadcrumb {
	margin: 0 0 10px;
}

@media screen and (max-width: 400px) {
	.list-view .site-content .post-thumbnail img {
		float: right;
		margin: 0 0 3px 10px;
	}
}

@media screen and (min-width: 401px) {
	.site-content .entry-meta > span {
		margin-right: auto;
		margin-left: 10px;
	}

	.site-content .format-quote .post-format a:before {
		margin-right: auto;
		margin-left: 2px;
	}

	.site-content .format-gallery .post-format a:before {
		margin-right: auto;
		margin-left: 4px;
	}

	.site-content .format-aside .post-format a:before {
		margin-right: auto;
		margin-left: 2px;
	}

	.site-content .featured-post:before {
		margin-right: auto;
		margin-left: 3px;
	}

	.site-content .entry-date a:before,
	.attachment .site-content span.entry-date:before {
		margin-right: auto;
		margin-left: 1px;
	}

	.site-content .comments-link a:before {
		margin-right: auto;
		margin-left: 2px;
	}

	.site-content .full-size-link a:before {
		margin-right: auto;
		margin-left: 1px;
	}

	.entry-content .edit-link a:before,
	.entry-meta .edit-link a:before {
		-webkit-transform: scaleX(-1);
		-moz-transform:    scaleX(-1);
		-ms-transform:     scaleX(-1);
		-o-transform:      scaleX(-1);
		transform:         scaleX(-1);
	}
}

@media screen and (min-width: 594px) {
	.site-content .entry-header {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (min-width: 673px) {
	.search-toggle {
		margin-right: auto;
		margin-left: 18px;
	}

	.content-area {
		float: right;
	}

	.site-content {
		margin-right: auto;
		margin-left: 33.33333333%;
	}

	.full-width .site-content {
		margin-left: 0;
	}

	.content-sidebar {
		float: left;
		margin-right: -33.33333333%;
		margin-left: auto;
	}

	.grid .featured-content .hentry {
		float: right;
	}

	.slider-control-paging {
		padding-right: 20px;
		padding-left: 0;
	}

	.slider-direction-nav {
		float: left;
	}

	.slider-direction-nav li {
		padding: 0 0 0 1px;
	}

	.slider-direction-nav li:last-child {
		padding: 0 1px 0 0;
	}
}

@media(max-width:767px) { 
	.vc_col-sm-1, 
	.vc_col-sm-2, 
	.vc_col-sm-3, 
	.vc_col-sm-4, 
	.vc_col-sm-5, 
	.vc_col-sm-6, 
	.vc_col-sm-7, 
	.vc_col-sm-8, 
	.vc_col-sm-9, 
	.vc_col-sm-10, 
	.vc_col-sm-11, 
	.vc_col-sm-12 {
		float:none !important;
	}
	
	.navigation .navbar .navbar-nav>li>a{
	   margin-right:20px;
	}
}

@media screen and (min-width: 783px) {
	.header-main {
		padding-right: 30px;
		padding-left: 0;
	}

	.search-toggle {
		margin-right: auto;
		margin-left: 0;
	}

	.primary-navigation {
		float: left;
		margin: 0 -12px 0 1px;
	}

	.primary-navigation ul ul {
		float: right;
		margin: 0;
		right: -999em;
		left: auto;
	}

	.primary-navigation ul ul ul {
		right: -999em;
		left: auto;
	}

	.primary-navigation ul li:hover > ul,
	.primary-navigation ul li.focus > ul {
		right: auto;
	}

	.primary-navigation ul ul li:hover > ul,
	.primary-navigation ul ul li.focus > ul {
		right: 100%;
		left: auto;
	}

	.primary-navigation .menu-item-has-children > a,
	.primary-navigation .page_item_has_children > a {
		padding-right: 12px;
		padding-left: 26px;
	}

	.primary-navigation .menu-item-has-children > a:after,
	.primary-navigation .page_item_has_children > a:after {
		right: auto;
		left: 12px;
	}

	.primary-navigation li .menu-item-has-children > a,
	.primary-navigation li .page_item_has_children > a {
		padding-right: 12px;
		padding-left: 20px;
	}

	.primary-navigation .menu-item-has-children li.menu-item-has-children > a:after,
	.primary-navigation .menu-item-has-children li.page_item_has_children > a:after,
	.primary-navigation .page_item_has_children li.menu-item-has-children > a:after,
	.primary-navigation .page_item_has_children li.page_item_has_children > a:after {
		content: "\f503";
		right: auto;
		left: 8px;
	}

}

@media screen and (min-width: 810px) {
	.attachment .entry-attachment .attachment {
		margin-right: -168px;
		margin-left: -168px;
	}

	.attachment .entry-attachment .attachment a {
		display: block;
	}

	.contributor-avatar {
		margin-right: -168px;
		margin-left: auto;
	}

	.contributor-summary {
		float: right;
	}

	.full-width .site-content blockquote.alignright,
	.full-width .site-content img.size-full.alignright,
	.full-width .site-content img.size-large.alignright,
	.full-width .site-content img.size-medium.alignright,
	.full-width .site-content .wp-caption.alignright {
		margin-right: -168px;
		margin-left: auto;
	}

	.full-width .site-content blockquote.alignleft,
	.full-width .site-content img.size-full.alignleft,
	.full-width .site-content img.size-large.alignleft,
	.full-width .site-content img.size-medium.alignleft,
	.full-width .site-content .wp-caption.alignleft {
		margin-right: auto;
		margin-left: -168px;
	}
}

@media screen and (min-width: 846px) {
	.comment-list .children {
		margin-right: 20px;
		margin-left: auto;
	}
}

@media screen and (min-width: 1008px) {
	.main-content {
		float: right;
	}

	.site-content {
		margin-right: 182px;
		margin-left: 29.04761904%;
	}

	.full-width .site-content {
		margin-right: 182px;
	}

	.content-sidebar {
		margin-right: -29.04761904%;
		margin-left: auto;
	}

	.site:before {
		right: 0;
		left: auto;
	}

	#secondary {
		float: right;
		margin: 0 -100% 0 0;
	}

	.secondary-navigation ul ul {
		right: -999em;
		left: auto;
	}

	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		right: 162px;
		left: auto;
	}

	.secondary-navigation .menu-item-has-children > a {
		padding-right: 30px;
		padding-left: 38px;
	}

	.secondary-navigation .menu-item-has-children > a:after {
		border-right-color: #fff;
		border-left-color: transparent;
		right: auto;
		left: 26px;
		content: "\f503";
	}

	.footer-sidebar .widget {
		float: right;
	}

	.featured-content {
		padding-right: 182px;
		padding-left: 0;
	}
}

@media screen and (min-width: 1080px) {
	.site-content {
		margin-right: 222px;
		margin-left: 29.04761904%;
	}

	.full-width .site-content {
		margin-right: 222px;
	}

	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		right: 202px;
		left: auto;
	}

	.slider-control-paging {
		padding-right: 24px;
		padding-left: 0;
	}

	.slider-control-paging li {
		margin: 12px 0 12px 12px;
	}

	.slider-control-paging a:before {
		right: 6px;
		left: auto;
	}
}

@media screen and (min-width: 1218px) {
	.full-width .archive-header,
	.full-width .comments-area,
	.full-width .image-navigation,
	.full-width .page-header,
	.full-width .page-content,
	.full-width .post-navigation,
	.full-width .site-content .entry-header,
	.full-width .site-content .entry-content,
	.full-width .site-content .entry-summary,
	.full-width .site-content footer.entry-meta {
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 1260px) {
	.site-content blockquote.alignright {
		margin-right: -18%;
		margin-left: auto;
	}

	.site-content blockquote.alignleft {
		margin-left: -18%;
		margin-right: auto;
	}
}